@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
  font-family: 'Poppins', sans-serif;
  overflow: auto;
  margin: 0;
  background-color: #e5e5e5;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  align-items: center;
}

.logo {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  padding: 10px 12px;
  text-decoration: none;
  background-repeat: no-repeat;
  transition: color 0.5s ease;
}

.fa-bars {
  color: #6070ff;
  width: 18px;
  height: 12px;
}

.intro {
  background-image: url('img/hbackground.png');
  border-radius: 0 0 0 50px;
  background-color: #fff;
  padding: 20px;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.action-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.social-media li {
  display: inline;
}

.social-media {
  list-style-type: none;
  padding-left: 0;
}

.fa-brands {
  color: #505f79;
  padding-right: 19px;
}

.title {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.works {
  padding: 20px;
}

.works-flex-container {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}

.portfolio-item-img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
}

.portfolio-item-img:hover {
  transform: scale(1.1);
  border-radius: 10px;
}

.portfolio-title {
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 12px;
  margin-bottom: 12px;
}

.history li {
  display: flex;
}

.history {
  display: inline;
  font-size: 13px;
  line-height: 16px;
  padding-right: 12px;
  color: #c1c7d0;
  margin-top: 0;
}

.fa-circle {
  padding-right: 12px;
  color: #c1c7d0;
}

#bold-history {
  color: #344563;
  font-weight: 600;
}

.project-desc {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

#portfolio-technologies {
  padding-left: 0;
}

.skils-ul li {
  display: block;
}

#portfolio-technologies li {
  display: inline;
  border-radius: 8px;
  background-color: #ebebff;
  color: #6070ff;
  font-size: 12px;
  font-weight: 500px;
  line-height: 16px;
  letter-spacing: 3%;
  padding: 4px 12px;
}

.see-demo-btn {
  border-radius: 8px;
  background-color: #fff;
  padding: 12px;
  border: 1px solid #6070ff;
  color: #396df2;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 3%;
  margin-top: 24px;
  margin-bottom: 28px;
}

.see-demo-btn:hover {
  background-color: #6070ff;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
  transition: 0.76s;
}

.see-demo-btn:active {
  background: #2230d2;
  border-radius: 8px;
  color: #fff;
}

.see-demo-btn:disabled {
  color: #5e6c84;
  background-color: #fff;
  border: 1px solid #c1c7d0;
}

.see-demo-btn:focus {
  color: #fff;
  background-color: #4053fc;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 36px;
}

.grid-container > div {
  margin-bottom: 88px;
}

.aboutme {
  background-color: #fff;
  padding: 20px;
  border-radius: 0 70px 0 0;
}

.skils-ul {
  padding-left: 0;
  margin: 20px;
}

.flex-skill-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.flex-skill-title h2 {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.flex-skill-title2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-skill-title2 h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.fa-angle-down {
  color: #acb7c3;
}

.flex-language-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 9px 0 9px 12px;
  margin-bottom: 12px;
}

.sub-languages {
  padding-left: 0;
}

.flex-language-item img {
  height: 48px;
  width: 48px;
  margin-right: 16px;
}

.flex-language-item h3 {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.skils-ul hr {
  height: 1px;
  background: #dfe1e6;
  border: #dfe1e6;
  margin: 0;
}

.flex-contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('img/cfbg.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #6070ff;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 103px;
  padding-bottom: 45px;
  border-radius: 60px 0 0 0;
  text-align: center;
}

.flex-contact h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.flex-contact p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

input[type=text] {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  border-radius: 8px;
  border: #fff;
  margin: 8px 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

input[type=email] {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  border-radius: 8px;
  border: #fff;
  margin: 8px 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

textarea {
  width: 100%;
  border-radius: 8px;
  border: #fff;
  padding: 10px 16px;
  box-sizing: border-box;
}

input[type=submit] {
  float: left;
  padding: 12px 16px;
  background-color: #fff;
  border: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  color: #6070ff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 3%;
  margin-top: 22px;
}

.contact-me {
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  body {
    background-color: #e5e5e5;
  }

  .fa-bars {
   display: none !important;
  }

  .nav-items {
    list-style-type: none;
  }

  .nav-items li {
    display: inline;
    margin-right: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .intro {
    background-image: url('img/desktopheaderbg.png');
    border-radius: 0 0 0 50px;
    background-color: #fff;
    background-repeat: no-repeat;
    padding: 120px;
  }

  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 3%;
    color: #172b4d;
  }

  .works {
    padding-right: 140px;
    padding-left: 140px;
    margin-top: 140px;
  }

  .portfolio-item-img {
    margin-right: 46px;
    width: 544px;
  }

  .works-flex-container {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }

  .flex-flip {
    display: flex;
    flex-direction: row-reverse;
  }

  .flex-flip img {
    margin-right: 0;
    margin-left: 46px;
    width: 544px;
  }

  .see-demo-btn:focus {
    color: #fff;
    background-color: #4053fc;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    border-radius: 8px;
  }

  .flex-language-item {
    display: inline-block;
    margin-right: 12px;
    width: 20%;
  }

  .aboutme {
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
    background-color: #fff;
    padding: 142px;
    border-radius: 0 70px 0 0;
  }

  .flex-contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('img/cfbg.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #6070ff;
    color: #fff;
    padding-left: 320px;
    padding-right: 320px;
    padding-top: 142px;
    padding-bottom: 127px;
    border-radius: 60px 0 0 0;
    text-align: center;
  }

  .btnholder {
    display: flex;
    justify-content: center;
  }

  .logo:hover {
    color: red;
    animation: rotate 1s linear;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
